body {
    font-family: Arial, sans-serif;
    background-color: #202020;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.login-container {
    background: #2A2A2A;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 350px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}


.logo {
    width: 100px;
    margin-bottom: 10px;
}


input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #0078F2;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}


button:hover {
    background-color: #005bb5;
}


.description {
    font-size: 14px;
    color: #bbb;
}


.disclaimer {
    font-size: 12px;
    color: #2c2c2c;
    margin-top: 10px;
}


